<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Home</title>
    <link rel="icon" href="./img/weather.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <form action="">
            <input type="text" name="location" id="location" placeholder="Enter location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
        <img class="portrait" src="./img/download.png" alt="photoDoodle" />
    </div>


    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>